body, h2, h1, p, l , l1, a, ul{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito", Helvetica Helvetica, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* superinfo */
.superinfo-bg {
    background-color: #122ab2;
    color: white;
}
.superinfo a {
    color: white;
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p {
    margin: 0 10px 10px 10px;
}

/*menu*/

.menu-bg {
    background-color: #2c70ff;
}

.menu {
    max-width: 960px;
    margin: 0;
    
}